{% extends "main.html" %} 
{% block title %}--Edit Post--{{post.title}}{% endblock %}

{% block blog %}
<link rel="stylesheet" type="text/css" href="/static/css/edit.css">
<script type="text/javascript" src="/static/js/edit.js"></script> 
<div class="post">    
    <form id="addblog" onsubmit="return parseBlogContent()" method="post">
      <div id="blogtitle">
         <input id = "title_input" name="title_input" type="text" size="45"
 value="{{post.title}}">
         <label for="title_input"><b>Title</b>(required)</label>
      </div>
      <div id="blogtags">
         <input id="tags" name="tags" type="text" size="45" id="tags" value="{{tags_commas}}">
         <label for="tags"><b>Tags</b>(comma separated without space)</label>
      </div>
      <div id="blogtype">        
         <input type="checkbox" name="private" value="private" {% if post.private %}checked="checked"{%endif%}>
         (private)&nbsp;&nbsp;
         <select name="blogcatalog"> 
           <option value="mindcyclone" {%ifequal post.catalog "mindcyclone"%}selected="selected"{%endifequal%}>Mind Cyclone</option>
           <option value="entertainment" {%ifequal post.catalog "entertainment"%}selected="selected"{%endifequal%}>Entertainment</option>
           <option value="technique" {%ifequal post.catalog "technique"%}selected="selected"{%endifequal%}>Technique</option>
           <option value="lifelog" {%ifequal post.catalog "lifelog"%}selected="selected"{%endifequal%}>Life Log</option> 
         </select> 
      </div> 
      <div style="color:#eee">
        <span id="cview">View</span>&nbsp;&nbsp;<span id="ccode"><a href="javascript:void(code())">Code</a></span>                
      </div>
      <div id="blogpost">
        <textarea id="blogpostcode" name="content" style="display:none"></textarea>
        <div id="edittool" style="border:1px dotted;padding:5px 0;display:block">
        <a href="javascript:rteInsertImage()">IMG</a>
        </div>
        <div id="blogpostview" class="content" contentEditable="true">{{post.content}}</div>
        <div id="status">Status</div>
      </div>
      <div><input id="blogsubmit" type="submit" value="Submit" /></div>
    </form>
</div>
<div id="popDiv" class="mydiv" style="display:none;"><div id="popItem">Welcome!</div><a href="javascript:closeDiv()">Close This</a></div>
<div id="bg" class="bg" style="display:none;"></div>
{% endblock %}
