<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>BlowBlood{% block title %}BlowBlood{% endblock %}</title>
  	<!-- style START -->
	<!-- default style -->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
	<!-- for translations -->
		<!--[if IE]>
		<link rel="stylesheet" href="/static/css/ie.css" type="text/css" media="screen" />
	<![endif]-->
	<!-- style END -->
	<!-- script START -->
	<script type="text/javascript" src="/static/js/base.js"></script>
	<script type="text/javascript" src="/static/js/menu.js"></script>
  <!-- script END -->
</head>
<body>
<!-- wrap START -->
<div id="wrap">
<!-- container START -->
<div id="container">
<!-- header START -->
<div id="header">
  <div id="caption">
		<h1 id="title"><a href="http://www.blowblood.com/">BlowBlood</a></h1>
		<div id="tagline">BlowBlood@WestGate</div>
	</div>
  <!-- navigation START -->
	<div id="navigation">
		<ul id="menus">
			<li class="current_page_item"><a class="home" title="Home" href="/">Home</a></li>
			<li class="page_item page-item-2"><a href="/about/" title="About">About</a>
			 <ul style="overflow:hidden; visibility:hidden; position:absolute; display:block; left:195px; top:142px;">
			   <li class="first"><a href="/about/about-wordpress/" title="About WordPress">About WordPress</a></li>
			   <li class="page_item page-item-21"><a href="/about/about-blog/" title="About Blog">About Blog</a></li>
			   <li class="page_item page-item-19"><a href="/about/about-themes/" title="About Themes">About Themes</a></li>
			 </ul>
		 </li>
<li class="page_item page-item-22"><a href="/page-without-sidebar/" title="Page without sidebar">Page without sidebar</a></li>
<li class="page_item page-item-23"><a href="/archives/" title="Archives">Archives</a></li>
<li class="page_item page-item-24"><a href="/links/" title="Links">Links</a></li>
<li class="page_item page-item-25"><a href="/twitter/" title="Twitter">Twitter</a></li>
			<li><a class="lastmenu" href="javascript:void(0);"></a></li>
		</ul>
		<!-- searchbox START -->
		<div id="searchbox">
							<form action="http://www.google.com/cse" method="get">
					<div class="content">
						<input class="textfield" name="q" size="24" type="text" />
						<input class="button" name="sa" value="" type="submit" /> 
						<input name="cx" value="014782006753236413342:1ltfrybsbz4" type="hidden" />
						<input name="ie" value="UTF-8" type="hidden" />
					</div>
				</form>
					</div>
		<!-- searchbox END -->
		<div class="fixed"></div>
	</div>
	<!-- navigation END -->
	<div class="fixed"></div>
</div>
<!-- header END -->

<!-- content START -->
<div id="content">
	<!-- main START -->
	<div id="main">
  <div id="ctrl"><a id="Toggle" title="Hide/Show sidebar" href="javascript:void(toggle())">Hide</a></div>  
   {% block blog %}
   {% endblock %}           
  </div>
  <!-- main END -->
   {% include "sidebar.html" %}
	<div class="fixed"></div>
</div>
<!-- content END -->

<!-- footer START -->
<div id="footer">
	<a id="gotop" href="#" onclick="MGJS.goTop();return false;">Top</a>
	<a id="powered" href="http://code.google.com/appengine/">Google App engine</a>
	<div id="copyright">
		Copyright © 2008-2009 BlowBlood	</div>
	<div id="themeinfo">
		Theme by <a href="http://www.neoease.com/">mg12</a>. Valid <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> and <a href="http://jigsaw.w3.org/css-validator/">CSS 3</a>.	</div>
</div>
<!-- footer END -->
</div>
<!-- container END -->
</div>
<!-- wrap END -->
</body></html>