<li id="rc_item_1" class="rc_item">
  <div class="rc_avatar rc_left">
    <img alt="avator" src="{{comm.authorEmail|gravatar}}" class="avatar avatar-32 photo" width="32" height="32">
  </div>
  <div class="rc_info">
    <div class="author_name">
      {%if comm.authorWebsite%}
				<a class="url" href="http://{{comm.authorWebsite}}" rel="external nofollow">{{comm.author}}</a>
			{%else%}
				{{comm.author}}
			{%endif%}
	  </div>
    <div class="post_title">
      <a href="{{comm.post.full_permalink}}#comment-{{comm.key.id}}">{{comm.post.title}}</a>
    </div>
  </div>
</li>
<li id="rc_item_2" class="rc_item">
  {{comm.content}}
</li>
<li id="rc_nav">
  <a class="rc_back" href="javascript:void(0)" onclick="RCJS.goback()"> « Back</a>
  <span class="rc_datetime">{{comm.date|timezone:8|date:"Y/m/d - H:i"}}</span>
  <div class="rc_fixed"></div>
</li>            