 <html>
<head>
<title>{{title}}</title>

<script type="text/javascript" src="/static/js/json2.js"></script>
<script type="text/javascript">

//
// As mentioned at http://en.wikipedia.org/wiki/XMLHttpRequest
//
// create ajaxObject supports all browser with XMLHttpRequest Support
ajaxObject = function() {
  try { return new ActiveXObject("Msxml2.XMLHTTP.6.0"); } catch(e){
    try { return new ActiveXObject("Msxml2.XMLHTTP.3.0"); } catch(e){
      try { return new ActiveXObject("Msxml2.XMLHTTP"); } catch(e){
        try { return new ActiveXObject("Microsoft.XMLHTTP"); } catch(e){
          try { return new XMLHttpRequest() } catch(e){
            throw new Error( "This browser does not support XMLHttpRequest." );
}}}}}}
ajax = new ajaxObject(); // use ajaxObject to start XMLHttpRequest() for most browsers
//
// Makes an AJAX request to a local server function w/ optional arguments
//
// functionName: the name of the server's AJAX function to call
// opt_argv: an Array of arguments for the AJAX function
//
function Request(function_name, opt_argv) {
  if (!opt_argv)
    opt_argv = new Array();     
  // Find if the last arg is a callback function; save it
  var callback = null;
  var len = opt_argv.length;
  if (len > 0 && typeof opt_argv[len-1] == 'function') {
    callback = opt_argv[len-1];
    opt_argv.length--;
  }
  var async = (callback != null);     
  // Encode the arguments in to a URI
  var query = 'action=' + encodeURIComponent(function_name);
  for (var i = 0; i < opt_argv.length; i++) {
    var key = 'arg' + i;
    var val = JSON.stringify(opt_argv[i]);
    query += '&' + key + '=' + encodeURIComponent(val);
  }
  query += '&time=' + new Date().getTime(); // IE cache workaround
  // Create an XMLHttpRequest 'GET' request w/ an optional callback handler       
  ajax.open('GET', '/rpc?' + query, async);     
  if (async) {
    ajax.onreadystatechange = function() {
      if(ajax.readyState == 4 && ajax.status == 200) {
        var response = null;
        try {
         response = JSON.parse(ajax.responseText);
        } catch (e) {
         response = ajax.responseText;
        }
        callback(response);
      }
    }
  }     
  // Make the actual request
  ajax.send(null);
}

// Adds a stub function that will pass the arguments to the AJAX call 
function InstallFunction(obj, functionName) {
  obj[functionName] = function() { Request(functionName, arguments); }
}

</script>
<script type="text/javascript">

// Server object that will contain the callable methods
var server = {};

// Insert 'Add' as the name of a callable method
InstallFunction(server, 'Add');


// Handy "macro"
function $(id){
  return document.getElementById(id);
}

// Client function that calls a server rpc and provides a callback
function doAdd() {
  server.Add($('num1').value, $('num2').value, onAddSuccess);
}

// Callback for after a successful doAdd
function onAddSuccess(response) {
  $('result').value = response;
}
</script>
</head>
<body>
<center>
<h1>{{title}}</h1>
<table>
    <tr>
        <td align="right">Number 1: <input id="num1" type="text" value="1" /><br />
        Number 2: <input id="num2" type="text" value="2" /><br />
        <input type="button" value="Add" style="width:100%" /><br> <!--onclick="doAdd()"-->
        Result: <input id="result" type="text" value="" readonly="true" disabled="true" /></td>
    </tr>
</table>
</center>
    <h2>Test: {{referer}}</h2>
    <form name="testajax">
    Name:<input type="text" id="username" name="username" />
    Time:<input type="text" id="time" name="time" />
    <form>
    <div id="resultt">result</div>
    <script type="text/javascript">
    function addEvent(obj,type,fn){
      if(obj.attachEvent){obj.attachEvent('on'+type,fn)}
      if(obj.addEventListener){obj.addEventListener(type,fn,false);}
    }
    function ajaxFunction(){
      ajaxObject = function() {
        try { return new ActiveXObject("Msxml2.XMLHTTP.6.0"); } catch(e){
        try { return new ActiveXObject("Msxml2.XMLHTTP.3.0"); } catch(e){
        try { return new ActiveXObject("Msxml2.XMLHTTP"); } catch(e){
        try { return new ActiveXObject("Microsoft.XMLHTTP"); } catch(e){
        try { return new XMLHttpRequest() } catch(e){
        throw new Error( "This browser does not support XMLHttpRequest." );
      }}}}}}
      var ajax = new ajaxObject(); // use ajaxObject to start XMLHttpRequest() for most browsers
      
      ajax.onreadystatechange = function(){
        if(ajax.readyState == 4){
          $("resultt").innerHTML="success"
        }      
      }    
      try{ajax.open("POST","rpc/?atction=add",true)} catch(e){alert(e)}
      ajax.send(null);
    }
    $("resultt").innerHTML = "ajaxFunction()"
    addEvent($("username"),'keyup',ajaxFunction)
    </script>
</body>
</html>