<!-- sidebar START -->
<div id="sidebar">
  <!-- sidebar north START -->
<div id="northsidebar" class="sidebar"> 
	<!-- feeds -->
	<div class="widget widget_feeds">
		<div class="content">
			<div id="subscribe">
			 <a rel="external nofollow" id="feedrss" title="Subscribe to this blog..." href="/feed/"><abbr title="Really Simple Syndication">RSS</abbr> feed</a>
			 <ul style="overflow: hidden; visibility: hidden; position: absolute; display: block;" id="feed_readers">
			  <li class="first" id="google_reader"><a rel="external nofollow" class="reader" title="Subscribe with Google" href="http://fusion.google.com/add?feedurl=http://www.blowblood.com/feed/"><span>Google</span></a></li>
			  <li id="youdao_reader"><a rel="external nofollow" class="reader" title="Subscribe with Youdao" href="http://reader.youdao.com/#url=http://www.blowblood.com/feed/"><span>Youdao</span></a></li>
			  <li id="xianguo_reader"><a rel="external nofollow" class="reader" title="Subscribe with Xian Guo" href="http://www.xianguo.com/subscribe.php?url=http://www.blowblood.com/feed/"><span>Xian Guo</span></a></li>
			  <li id="zhuaxia_reader"><a rel="external nofollow" class="reader" title="Subscribe with Zhua Xia" href="http://www.zhuaxia.com/add_channel.php?url=http://www.blowblood.com/feed/"><span>Zhua Xia</span></a></li>
			  <li id="yahoo_reader"><a rel="external nofollow" class="reader" title="Subscribe with My Yahoo!" href="http://add.my.yahoo.com/rss?url=http://www.blowblood.com/feed/"><span>My Yahoo!</span></a></li>
			  <li id="newsgator_reader"><a rel="external nofollow" class="reader" title="Subscribe with newsgator" href="http://www.newsgator.com/ngs/subscriber/subfext.aspx?url=http://www.blowblood.com/feed/"><span>newsgator</span></a></li>
			  <li id="bloglines_reader"><a rel="external nofollow" class="reader" title="Subscribe with Bloglines" href="http://www.bloglines.com/sub/http://www.blowblood.com/feed/"><span>Bloglines</span></a></li>
			  <li id="inezha_reader"><a rel="external nofollow" class="reader" title="Subscribe with iNezha" href="http://inezha.com/add?url=http://www.blowblood.com/feed/"><span>iNezha</span></a></li>
			 </ul></div>
		<div class="fixed"></div>
	 </div>
	</div>		
<div id="wp-calendar" class="widget widget_calendar"><h3>Calendar</h3>
  {{calendar}}
</div>
	<!-- User -->
	<div class="widget">
		<h3>User</h3>
		<ul>{% if user %}
		  <li>{{ user.email }}</li>
     {% if user_is_admin %}
      <li>hello,Admin! <a href="/add" title="add post" rel="nofollow">Add a post</a></li>
     {% endif %}  
     <li><a href="https://www.google.com/accounts/ManageAccount " rel="nofollow">My Account</a></li>
    {% endif %}      
    <li><a href="{{ url }}" rel="nofollow">{{ url_linktext }}</a></li>
    </ul>
	</div>
	<div id="recentcomments" class="widget widget_recentcomments">
	  <h3>Recent Comments</h3>
	  <ul>
	  {%for comm in recentcoms%}
    <li id="rc_item_1" class="rc_item">
      <div class="rc_avatar rc_left"><img alt="avator" src="{{comm.authorEmail|gravatar}}" class="avatar avatar-32 photo" width="32" height="32" /></div>
      <div class="rc_info">
        <span class="author_name">
          <a href="{{comm.post.full_permalink}}/#comment-{{comm.key.id}}">{{comm.author}}</a>
        </span>
      </div>
      <div class="rc_excerpt">
        {{comm.content}}
        <span class="rc_expand">
          <a href="javascript:void(0);" onclick="RCJS.detail('/rpc?action=rc_detail_ajax',{{comm.key.id}},'','loading')" title="show the whole comment"> » </a>
        </span>
      </div>
    </li>
	  {%endfor%}
	  <li id="rc_nav"><br /></li>	    
	  </ul>
	</div>	
</div>
<!-- sidebar north END -->

<div id="centersidebar">

	<!-- sidebar east START -->
	<div id="eastsidebar" class="sidebar">
	
	<!-- categories -->
	<div class="widget widget_categories">
	 <h3>Categories</h3>
	 <ul>
   {%for category in categories%}
   <li class="cat-item"><a href="/category/{{category.name}}">{{category.name}}({{category.num}})</a></li>
   {%endfor%}
	 </ul>
	 </div>
	</div>
	<!-- sidebar east END -->

	<!-- sidebar west START -->
	<div id="westsidebar" class="sidebar">
	
<!-- archives -->
<div class="widget widget_archive">
	<h3>Archives</h3>
	<ul>
	{%for archive in archives%}
	<li><a href="#" title="{{archive.monthyear}}" rel="nofollow">{{archive.monthyear}}({{archive.num}})</a></li>
	{%endfor%}
	</ul>
</div>
</div>
<!-- sidebar west END -->
<div class="fixed"></div>
</div>

<!-- sidebar south START -->
<div id="southsidebar" class="sidebar">
  <div id="tag_cloud" class="widget tag_cloud">
     <h3>Tags</h3>
    {%for tag in tags%}
        <a href="/tag/{{tag.name}}" title="{{tag.num}} topic"  style="font-size:{{tag.num|hot2fsize}}%">{{tag.name|unquote}}</a>       
    {%endfor%}
</div>
<div id="meta" class="widget widget_meta">
  <h3>Meta</h3>
    <ul>			
			<li><a href="http://www.blowblood.com/feed/" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://www.blowblood.com/comments/feed/" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>			
		</ul></div>		
</div>
<!-- sidebar south END -->
</div>
<!-- sidebar END -->
